.btn2 {
font-family: Roboto, sans-serif;
font-weight: 6;
font-size: 14px;
color: #ffffff;
background-color: #0066cc00;
padding: 10px 50px;
border: solid #ffffff 2px;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 2px;
transition : 530ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.btn3:hover{

transition : 470ms;
padding: 10px 125px;
background-color: #fff;
color: #000000;
border: solid 2px #ffffff;
}
